.footer{
  position: absolute;
  z-index: 1;
  //height: 200px;
  width: 100%;
  bottom: 0;

  background-color: rgb(84, 255, 0);

  border-radius: 100%;

  .footer-bar{
    z-index: 3;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 4.6vh;
    background: url('/UI/UI_BARRE.svg');
  }

  .footer-timer{
    z-index: 4;
    position: fixed;
    width: 19.2vw;
    height: 12.2vh;
    bottom: 0;
    left: 50%;
    background: url('/UI/timer.svg')no-repeat;
    background-size: cover;
    .footer-timer-time{
      font-size: 50px;
      margin-top: 15px;
      text-align: center;
    }
  }
}