.wind-rose {
    position: fixed;
    z-index: 2;
    //height: 100px;
    //width: 100px;
    height: 28vh;
    width: 28vh;

    bottom: -3vh;
    left: -3vh;

    //background-color:rgb(186, 194, 182);
    background: url('/UI/rose_vent.png') no-repeat;
    background-size: cover;
    border-radius: 100%;
    .wind-needle {
        height: 100%;
        width: 100%;

        position: absolute;

        //top: 50%;
        //left: 50%;

        //transform: translate(-50%, -50%) rotate(0deg);

        transform-origin: 50%;

        transition: 1s transform cubic-bezier(.24,.63,.12,1);

        //background-color: rebeccapurple;
        background: url('/UI/aiguille.png') no-repeat;
        background-size: cover;
        border-radius: 100%;
        //.wind-pointer {
        //    position: absolute;
        //
        //    width: 10px;
        //    height: 15px;
        //
        //    background-color: rgb(130, 231, 201);
        //
        //    transform: translateX(-2.5px);
        //
        //    left: 0;
        //}
    }
}