@font-face {
  font-family: "PPStellar";
  font-weight: bold;
  src: url("/PPStellar/PPStellar-Bold.otf") format("opentype")
}
@font-face {
  font-family: "PPStellar";
  font-weight: light;
  src: url("/PPStellar/PPStellar-Light.otf") format("opentype")
}