<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>California Forest</title>
    <link rel="icon" type="image/png" href="logo.png" />
</head>

<body>


<header>

</header>
<!-- <div class="fire">
  <h1>FireVsFire</h1>
</div> -->
<div id="intro">
    <div id="intro-left">
    </div>
    <button class="button-sketch" id="button-start">
        Jouer
    </button>
    <div id="intro-right">
    </div>
    <img src="/logo.png" id="logo">
</div>
<video hidden id="cine">
    <source src="/cine.mp4"
            type="video/mp4">
    Sorry, your browser doesn't support embedded videos.
</video>
<div hidden id="scene-2">
<!--    <div id="cover-background"></div>-->
    <img class="mission" src="/mission1.png" alt="" id="mission1">
    <img class="mission" src="/mission2.png" alt="" id="mission2">
</div>
<div hidden id="scene-3">
    <div class="menu">
        <div class="">
            <img src="UI/MAISON.png" alt="" id="backHome">
        </div>
        <div class="menue-right">
<!--            <img src="UI/SON_OFF.png" alt="" id="sound_off">-->
            <img src="UI/SON_ON.png" alt="" id="sound_on">
            <img src="UI/INFO.png" alt="" id="info">
        </div>
    </div>
    <div class="canadair">
        <img src="UI/CANADAIR.png" alt="" class="canadair-item">
        <img src="UI/CANADAIR.png" alt="" class="canadair-item">
        <img src="UI/CANADAIR.png" alt="" class="canadair-item">
    </div>
    <img src="/logo.png" id="logo2">
    <canvas class="webgl"></canvas>
    <div class="indicators" hidden>
        <div class="indicators-item">
            <img class="indicators-item-img" src="/indicator/BRANCHE.png">
            <div class="indicators-item-content">
                <div class="indicators-item-qty-current fire">
                    10
                </div>
                <div class="indicators-item-qty-limit">
                    / 0
                </div>
                <div class="indicators-item-qty-unity">
                    Max
                </div>
            </div>
        </div>
        <div class="indicators-item">
            <img class="indicators-item-img" src="/indicator/BRANCHE-1.png">
            <div class="indicators-item-qty-current sequoia">
                10
            </div>
            <div class="indicators-item-qty-limit">
                / 30
            </div>
            <div class="indicators-item-qty-unity">
                Min
            </div>
        </div>
        <div class="indicators-item">
            <img class="indicators-item-img" src="/indicator/MAISON.png">
            <div class="indicators-item-qty-current houses">
                10
            </div>
            <div class="indicators-item-qty-limit">
                / 10
            </div>
            <div class="indicators-item-qty-unity">
                Min
            </div>
        </div>
        <div class="indicators-item">
            <img class="indicators-item-img" src="/indicator/ANIMAUX.png">
            <div class="indicators-item-qty-current animals">
                10
            </div>
            <div class="indicators-item-qty-limit">
                / 30
            </div>
            <div class="indicators-item-qty-unity">
                Min
            </div>
        </div>
        <div class="indicators-item">
            <img class="indicators-item-img" src="/indicator/USINE.png">
            <div class="indicators-item-qty-current factory">
                10
            </div>
            <div class="indicators-item-qty-limit">
                / 30
            </div>
            <div class="indicators-item-qty-unity">
                Max
            </div>
        </div>
    </div>
    <div hidden class="wind-rose">
        <div class="wind-needle">
            <div class="wind-pointer"></div>
        </div>
    </div>
</div>
<div hidden id="scene-4">
    <img src="/win_page.png" alt="" id="win-page">
</div>
<div class="footer">
    <div hidden class="footer-timer">
        <div class="footer-timer-time">03:00</div>
    </div>
    <div class="footer-bar"></div>
</div>
</body>