<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>California Forest</title>
</head>

<body>

  <!-- <div class="fire">
    <h1>FireVsFire</h1>
  </div> -->

  <canvas class="webgl"></canvas>

  <div class="indicators">
    <div class="indicators-item">
      <div class="indicators-item-img">

      </div>
      <div class="indicators-item-qty-current">

      </div>
      <div class="indicators-item-qty-limit">
        <div class="indicators-item-limit-unity">

        </div>
      </div>
    </div>

  </div>
  <div class="wind-rose">
    <div class="wind-needle">
      <div class="wind-pointer"></div>
    </div>
  </div>
  <div class="footer">
    <div class="footer-timer">
      <div class="footer-timer-time">2:38</div>
    </div>
    <div class="footer-bar"></div>
  </div>
</body>